    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500;
}

#img-1, #img-2, #img-3, #img-4, #img-5 {
    border-radius: 50%;
}

.daniel, .jonathan, .jeanette, .patrick, .kira{
    display: flex;
}

h2, h3 {
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
}
.subject{
    font-weight: 600;
}

body{
    background-color: hsl(0, 0%, 81%);
}

.container{
    
    margin: 100px;
    margin-right: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "header header okay advert"
    "footer section section advert";
    grid-gap: 25px;
    
}

.section1{
    grid-area: header;
    padding: 30px;
    color: white;
    border-radius: 10px;
    background-color: hsl(263, 55%, 52%);
    background-image: url(file:///C:/Users/musil/Downloads/testimonials-grid-section-main/testimonials-grid-section-main/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    /* position: relative; */
    background-position: right;
    background-position-y: top;
    background-position-x: 25rem;
    box-shadow: 5px 10px 10px hsl(0, 0%, 81%);
}

.section2{
    padding: 30px;
    color: white;
    border-radius: 10px;
    background-color: hsl(217, 19%, 35%);
}

.section3{
    padding: 30px;
    
    border-radius: 10px;
    background-color: white;
}

.section4{
    padding: 30px;
    grid-area: section;
    margin-left: 0;
    color: white;
    border-radius: 10px;
    background-color: hsl(219, 29%, 14%);
}

.section5{
    grid-area: advert;
    padding: 30px;
    border-radius: 10px;
    background-color: hsl(210, 46%, 95%);
}

#subject{
    font-weight: 600;
    font-size: large;
}

@media(max-width: 375px){
    .container{
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

}
